# Directories
node_modules/
public/
src/
secrets/
storage/
template/
build/



# Files
.env.local
error.log
site.webmanifes
.env
.DS_Store
zion.code-workspace
package-lock.json
game.html
index.html
example.js
deploy.js
CONTRACT.md
list-models.js
README.md
server.js



