<div style="text-align: center; padding: 50px;">
    <h1 style="font-size: 100px; margin: 0; color: #ccc;">500</h1>
    <h2>Server Error</h2>
    <p><%= message %></p>
    <br>
    <a href="/" class="btn">Go Back Home</a>
</div>